<!doctype html>
<html>
    <meta charset="utf-8" />
  <head></head>



<body>

<div id="teacherList" ng-controller="displayTeachersController">
 
    
    <h2>List of teachers</h2>
     <div class="row">
                <div class="col-md-12">
                    <div class="records_content">
                     <form>
   
     
    <table id="tableTeacherList">
        <tr>
         <td>Full name</td>
         <td>Does she/he tutor?</td>
         <td>Adress</td>
         <td>How many children does he/she tutor?</td>
         <td>How many children can he/she tutor</td>
         <td>E-mail adress</td>
         <td>Taught subject</td>
         <td>Highschool name</td>
        
        </tr> 
        <tr ng-repeat="teacher in Teachers">
            <td>{{teacher.teacherFullName}</a></td>
            <td>{{teacher.isHeOrSheTutoring}}</td>
            <td>{{teacher.teacherAdress}}</td>
            <td>{{teacher.nrOfChildrenHeOrSheTutorsn}}</td>
            <td>{{teacher.nrOfChildrenHeOrSheCanTutor}}</td>
            <td>{{teacher.teacherEmail}}</td>
            <td>{{teacher.taughtSubject}}</td>
            <td>{{teacher.highSchoolName}}</td>
        
        </tr>
    </table>
    </form>
    
    <button type="button" class="button" ng-click="readTeachers()">Display teachers</button>
</div>
</div>
</div>
</body>

</html>
