<!doctype html>
<html>
    <meta charset="utf-8" />
  <head></head>



<body>


<div id="newHighSchool" ng-controller="newHighSchoolController">

	
	<h2>Add a new highschool: </h2>
	<form>
		<table>
			<tr>
				<td> Highschool name:</td>
				<td>
					<input type="text" ng-model="highschools.highSchoolName">
				</td>
			</tr>
			<tr>
				<td> Hihschool city:</td>
				<td>
					<input type="text" ng-model="highschools.highSchoolCity">
				</td>
			</tr>
			<tr>
				<td> Number of awards:</td>
				<td>
					<input type="text" ng-model="highschools.numberOfAwards">
				</td>
			</tr>
			
				<tr>
				<td> Graduation rate:</td>
				<td>
					<input type="text" ng-model="highschools.graduationRate">
				</td>
			</tr>
				<tr>
				<td> Phone number:</td>
				<td>
					<input type="text" ng-model="highschools.highSchoolContact_phoneNumber">
				</td>
			</tr>
				<tr>
				<td> Year of foundation:</td>
				<td>
					<input type="text" ng-model="highschools.yearOfFoundation">
				</td>
			</tr>
			
		
		</table>
		<tr>
			<td>
				<input id="add" type="button" value="Insert a new highschool!" ng-click="newHighSchool">
			</td>
		</tr>
	</form>
	<script>
		document.getElementById("add").addEventListener("click", function() {
			confirm("Hishschool was successfully inserted into the DB!");
		});
	</script>
	<button type="button" class="button" ng-click="submitRecord()" ng-disabled="new_highschoolForm.$invalid">Insert</button>
</div>
</body>
</html>